body {
    font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

#root {
    display: none;
    margin-left: 15%;
    margin-right: 15%;
}

#header {
    padding-bottom: 50px;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    text-align: center;
}

#footer {
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    border-top-width: 5px;
    border-top-color: #000000;
    border-top-style: solid;
}

select {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: lightgrey;
    background-color: white;
    font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6px;
}

select:hover {
    border-color: cyan;
}

a:hover {
    color: blue;
}

.material-symbols-outlined {
    color: black;
}

.material-symbols-outlined a {
    text-decoration: none;
}

.rules_item {
    padding-top: 15px;
    padding-bottom: 15px;
}